 
 .menu-toggle {
   position: absolute;
   padding: 0.6em ;
   top: 10px;
   right:  0px;
   cursor: pointer;
    background: rgb(119, 169, 202); ;
   height: 35px;
   right: 10px; 
   border-radius: 3px;
   z-index: 1000;
 }
 
 .hamburger, .hamburger::before, .hamburger::after {
   content: '';
   display: block;
   background: #fff;
   height: 2px;
   width: 1.5em;
   margin-top: 7px;
   -webkit-transition: all ease-in-out 350ms;
   transition: all ease-in-out 350ms;
   text-align: right;
 }
 
 .hamburger::before {
   -webkit-transform: translateY(-7px);
   transform: translateY(-7px);
   background:#fff;
   margin-top:  0px;
 }
 
 .hamburger::after {
   -webkit-transform: translateY(4px);
   transform: translateY(4px);
   background:#fff;
   margin-top: 2px;
 }
 
 .open .hamburger {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 
 .open .hamburger::before {
   display: none;
 }
 
 .open .hamburger::after {
   -webkit-transform: translateY(-1px) rotate(-90deg);
   transform: translateY(-1px) rotate(-90deg);
 }
 
 
 
 .site-nav--icon {
   font-size: 1.4em;
   margin-right: 1em;
   width: 1.1em;
   text-align: right;
   color: rgba(255, 255, 255, .4);
 }
  ul.desktop.opening {
  display: block!important; 
  width: 370px!important;
  max-width: 100vw!important; 
  margin : 0px 0 0 0!important; 
  float: left!important; 
  border-radius: 3px;
}
  ul.opening li  {
  display:  block;
  margin: 0 0 2px 0!important; 
  height: auto!important; 
  width: auto!important; 
  max-width: 100%!important; 

}


 ul.desktop.opening li a {
  width: 100vh;
  background: rgb(119, 169, 202); 
  line-height: 3em;
  margin: 0;
  padding: 0;
 
  display: block;
  width: 100%!important; 
  max-width: 100%!important; 
  min-width: 100%!important; 
}


  ul.desktop.opening li a.active {
  text-decoration: none;
  background: rgb(119, 169, 202);
  padding: 0;
  border-radius: 0px;
}
  ul.desktop.opening li a:hover {
  width: 100vh;
 
  line-height: 3em;
  margin: 0;
  padding: 0;
 
  display: block;
}

@media screen and (max-width: 1040px) {
  .desktop {
    display : block;
    margin-top: -200px;
  }
  .menu-toggle {
    display: block;
  }
  #mainMenu {
    display: none;
  }
}
 
 @media screen and (min-width:  1040px) {
   .menu-toggle {
     display: none;
   }
   .site-nav--icon {
     display: block;
   }
 }
 /*dsak */

 ul.opening {
  position: absolute;
  width: auto!important;
  z-index: 900;
  right: 10px!important;
  top: 50px!important;
}
 
  ul.desktop.opening li a {
  line-height: 1.2em!important;
  background: rgba(255, 255, 255, 1);
}
  ul.desktop.opening li a:before {
   display: none;
}
  ul.desktop.opening li a:hover{
  text-decoration: underline;
} 
  ul.desktop.opening li a.active {
  background: #e7e7e7;
  color: #404040
}
 .desktop.opening {
  background: rgb(119, 169, 202); 
  padding: 0.5em;
}
.desktop{
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
  position: absolute;
  right: -500px;
  width: auto!important;
  max-width: 100vw!important;
  margin: 15px 0 0 0!important;
  float: left!important;
 
 
  
  top: 50px!important;
 
}
.opening{
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

.opening a {
  background:  rgb(119, 169, 202)  !important;
  color: #fff!important;
  font-size: 110%!important;
  padding: 5px 10px!important;
  text-decoration: none;
}
.opening a:hover {
  text-decoration: none!important;
}
.opening ul a {
  background: rgb(119, 169, 202)!important;
  color: #fff!important;
  font-size: 110%!important;
  padding: 5px 10px!important;
  display: inline-block;
  width: auto;
}
.opening ul a {
  text-decoration: underline!important;
}
.opening ul {
  margin: 0;
  padding: 0;
}