/*

font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif ; 
font-family: 'DM Serif Text', serif;    free nahrada georgia bold
font-family: 'Roboto', sans-serif;
*/
 



* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    text-align: left;
 
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 105%;
    min-width: 300px;
    background: #fff;
}

body {
    overflow-x: hidden;
}
.forVideo, .background {
    position: absolute;
    top: 116px;
    z-index: 0;
    width: 100vw;
    left: 0;
    height: 385px;
    overflow: hidden;
}
video {
    width: 100%;
}
#mainMenu {
    z-index: 1000;
  /*  position: absolute; */
    right: 0;
    top: 0;
}
.menu {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    line-height: 15px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu a {
    color: #333333;
    line-height: 15px;
    display: inline-block;
    padding: 0 0px 0 10px;
    text-decoration: none;
    position: relative;
   /* text-shadow: 1px 1px #505050;*/
}
.menu li:after {
    content: " / ";
    margin-left: 10px;
    color: #333333;
}
#mainMenu li:last-child:after {
    content: "   ";
}
 .menu a:hover{
     text-decoration: underline;
 }

#mainMenu {
    float: right;
    margin-right: 0px;
}

#mainMenu li {
    display: inline-block;
    padding: 0 1px;
    height: 50px;
    line-height: 50px;
}
 
.over {
    background: #000;
    opacity: 0.3; 
    position: absolute;
    height: 515px;
    z-index: 100;
    width: 100%; 
}
 
.menu .last {
    text-align: right;
}
 

h1 {
    position: absolute;
    text-align: center;
    top: 115px;
    color: #000;
    font-size: 80px;
    line-height: 90px;
    overflow-wrap:break-word;
font-size:80.88px;
font-style:normal;
font-weight:700;
height:auto;
letter-spacing:-2px;
line-break:auto;
z-index: 900;
width: 100%;
margin: 0;
padding: 0;
/*text-shadow: 1px 1px #505050;*/
}
.inBanner {
     position: absolute; 
    text-align: center;
    top: 225px;
    color: #fff;
    font-size:23px;
    line-height: 34px;
    overflow-wrap:break-word;
    text-shadow: 1px 1px #505050;
font-style:normal;
font-weight:300;
height:auto;
 
line-break:auto;
z-index: 1000;
 
background: rgba(0,0,0,.5);
width: auto;
padding: 3px 20px;
margin-left: 50%;
transform: translate( -50% , 0%);
}
#main {
    margin-top: 515px;
    min-height: calc(100vh - 515px - 116px);
    padding-top: 20px;
    padding-bottom: 30px;
}
#webtitle {
    box-sizing:border-box;
color:#fff;
display:inline-block;
font-family:  Arial, sans-serif;
font-size:22.7px;
font-style:normal;
font-weight:500;
height:55px;
line-break:auto;
line-height:55.2002px;
text-align:left;
text-size-adjust:100%;
 background: url('/images/logoNEW.png') no-repeat left center;
 background-size: contain;
-webkit-font-smoothing:antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
 padding-left: 65px;
margin-left: 5px;
margin-top: 10px;
z-index: 1000;
/*text-shadow: 1px 1px #505050;*/
}
footer {
    height: 116px;
    background: #D7CCC8;
    color: #000;
    font-size: 14px;
    padding-top: 50px;
    text-align: center;
    /*margin-top: calc(100vh - 515px - 116px);*/
}

h2 {
    background: url('/images/logo3.jpg') left center no-repeat; 
    background-size: 55px;
    line-height: 55px;
    font-weight: normal;
    padding-left: 65px;
}
section {
    width:  100% ;
    padding: 0 calc((100vw - 1000px)/2);
    text-align: left;
}

.zavislosti section {
 
 
}
.zavislosti #part1, .addictions #part1{
  width: 100%;
 
}
.zavislosti #part2, .addictions #part2{
    display: inline-block;
    width: 33.3%;
    padding : 130px 0 50px 0;
    background: url('/images/logo2.jpg') center top no-repeat;
    background-size: 120px;
    text-align: center;
    margin-top: 20px;
    float: left;
}
.zavislosti #part3, .addictions  #part3{
    display: inline-block;
    width: 33.3%;
    padding : 130px 0 50px 0;
    background: url('/images/logo1.jpg') center top no-repeat;
    background-size: 120px;
    background-size: 120px;
    text-align: center;
    margin-top: 20px;
    float: left;
}
.zavislosti #part4, .addictions  #part4{
    display: inline-block;
    width: 33.3%;
    padding : 130px 0 50px 0;
    background: url('/images/logo4.jpg') center top no-repeat;
    background-size: 120px;
    background-size: 120px;
    text-align: center;
    margin-top: 20px;
    float: left;
}
.home table td {
    position: relative;
    padding: 0 10px 40px 50px;
    width: 40%;
}
.home table td:nth-of-type(2) {
 
    width: 20%;
}
.home table tr:nth-of-type(1) td:nth-of-type(1):before {
        content: "\f098";   
        font-family: "Font Awesome 5 Free";
        left:-5px;
        position:absolute;
        top:0;
        font-size: 35px;
        font-weight:  900;
        color: #0271c1;

}
.home table tr:nth-of-type(2) td:nth-of-type(1):before {
    content: "\f2b5";   
    font-family: "Font Awesome 5 Free";
    left:-5px;
    position:absolute;
    top: -5px;
    font-size: 35px;
    font-weight:  900;
    color: #0271c1;

}

.home table tr:nth-of-type(1) td:nth-of-type(3):before {
    content: "\f199";   
    font-family: "Font Awesome 5 Free";
    left:0px;
    position:absolute;
    top: 5px;
    font-size: 35px;
    font-weight:  900;
    color: #0271c1;

}

.home table tr:nth-of-type(2) td:nth-of-type(3):before {
    content: "\f573";   
    font-family: "Font Awesome 5 Free";
    left:0px;
    position:absolute;
    top: -5px;
    font-size: 35px;
    font-weight:  900;
    color: #0271c1;

}

section {
    line-height: 1.5em;
}
.photo {
    float: right;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background-size: cover;

}
.terapeuticky-tym article, .our-team article {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #c0c0c0;
    min-height: 200px;
}

.terapeuticky-tym article p, .our-team article p {
    margin-right: 220px;
 
}
table td {
    vertical-align: top;
}
#content-left {
    width: 50% ;
    float: left;
    padding: 0 5% 0 calc((100vw - 1000px)/2);
}
#content-right {
    width: 50%;
    padding: 60px calc((100vw - 1000px)/2) 0 0%;
    float: right;
}
.mainclr {
    clear: both;
}
.kontakt #part3 h2 {

    clear: both;
    margin-top: 1em
     
}

label.h5 {
    
    white-space: nowrap;
    background-color: #e9ecef;
    border : 1px solid #ced4da;
    border-bottom-width: 0px;
    width: calc( 100% + 20px );
    text-align: left;
    padding: 10px;
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

body.blog .forVideo, body.blog .background, body.blog .forVideo, body.blog .background {
    height: 250px;
}
body.blog .over, body.blog .over  {
    height: 250px;
}
body.blog h1, body.blog h1  {
    top: 170px;
     left: 0;
}
body.blog #main, body.blog #main {
    margin-top: 390px;
}
body.blog #content-left  {
    width: 60%;
    padding-left: 0;
    padding-top: 0px;
    padding-right: 5%;
}
body.blog #main {
    width: 100%;
    padding: 20px calc((100vw - 1000px)/2);
}
body.blog   #content-right  { 
    width: 40%;
    padding: 0;
}
body.blog section { padding: 0 }
.miniboxxx {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #c0c0c0;
}
.datebox em { 
    font-style: normal;
}
.datebox {
    font-size:  11px;
}
.catlink {
    background: #0070c2;
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
    margin-bottom: 5px;
    border-radius: 15px;
    font-size: 12px
}
.catlink.this {
    background: #002e4e;
    color: #fff;
}
.catlink:hover {
    background: #008df1;
    color: #fff;
}

.pager, .pagerrim, .pagerselected {
    display: block;
    float: left;
    margin-left: 2px;
    padding: 0.2em;
    min-width: 1.5em;
    width: auto!important;
    height: 1.7em;
    line-height: 1.3em;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    background: #bbe3ff;
}
.pagerselected {
    color: #fff;
    background: #008df1;
}
#insidebox1 , .box {
            margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #c0c0c0;
}

#tophead {
    height: 40px;
    background: #393939;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0 calc((100% - 1450px)/2);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.ord, .ema, .tel { float: right; color: #fff; line-height: 40px; margin-left: 20px; }
.ord { padding-left: 22px; background: transparent url('/images/info.png') no-repeat left center; }
.ema { padding-left: 22px; background: transparent url('/images/ema.png') no-repeat left center; }
.tel { padding-left: 22px; background: transparent url('/images/tel.png') no-repeat left center; margin-right: 15px }
.soc { color: #fff; line-height: 46px; text-indent: -5000px; width: 19px; height: 19px; display: inline-block; margin-top: 13px; }
.fb { background: transparent url('/images/fb.png') no-repeat center center; margin-left: 15px; }
.ln { background: transparent url('/images/ln.png') no-repeat center center; }

#tophead a:hover { color: #fff; }

nav {
    height: 76px;
    background: #bababa;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 40px;
    padding: 0 calc((100% - 1450px)/2);
}
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}
.contname {
    padding-left: 35px;
    background: url('/images/cont-name.png') no-repeat left top;
    padding-bottom: 1em;
}
.continfo {
    padding-left: 35px;
    background: url('/images/cont-info.png') no-repeat left top;
    padding-bottom: 1em;
}
.conttel {
    padding-left: 35px;
    background: url('/images/cont-tel.png') no-repeat left top;
    padding-bottom: 1em;
}
.contemail {
    padding-left: 35px;
    background: url('/images/cont-mail.png') no-repeat left top;
    padding-bottom: 1em;
}
.one, .two, .three, .four {
    padding-left: 80px;
    width: 48%;
    float: left;
    margin-bottom: 1em;
    background-size: 50px;
}
.four{     
    background: url('/images/1wy7xh.svg') no-repeat left top; 
    background-size: 50px;
}
.three{     
    background: url('/images/1cajtz.svg') no-repeat left top; 
    background-size: 50px;
} 
.two{     
    background: url('/images/0sfx40.svg') no-repeat left top; 
    background-size: 50px;
}
.one{     
    background: url('/images/0fxm8w.svg') no-repeat left top; 
    background-size: 50px;
}
.two a, .three a, .four a {
    display: inline-block;
    line-height: 66px;
    background: #000;
    color: #fff;
    width: calc(100% - 80px);
    text-align: center;
}
.four a {
 
    background: transparent;
    color: #000;
    border: 1px solid #000
     
}
#qr {
    float: left;
    width: 100%;
    background:   url('/images/qr.png') no-repeat left center;
    height: 250px;
    margin-left: -100%;
}
#cnt2 {
    width: 100%;
    float: right;
}