@media only screen and (max-width: 1124px) {



  body {
    min-width: 370px;
  }

  section {
    padding: 0 2em;
  }

  #content-left {
    padding: 0 5% 0 2em;
  }

  #content-right {
    padding: 60px 2em 0 0%;
  }

  .forVideo,
  .background,
  .over {

    height: 280px;

  }

  h1 {
    top: 120px;

    font-size: 46px;
    line-height: 50px;

  }

  .inBanner {

    top: 150px;

    font-size: 20px;

    line-height: 30px;
    width: 80%;
 
  }



  #main {

    margin-top: 400px;

    height: auto;

  }



  footer {



    padding-left: 2em;

    padding-right: 2em;

    margin-top: 10px;

  }



}





@media only screen and (max-width: 700px) {

  section {

    padding: 0 2em;

  }

  #content-left {

    width: 100%;

    padding: 0 2em;

  }

  #content-right {

    width: 100%;

    padding: 0 2em;



  }



  #main {

    xmargin-top: calc(100vw / 1.75);



  }

  .forVideo,
  .background,
  .over {

    height: calc(100vw / 1.8);
    height: 250px;

  }



  h1 {

    top: calc(100vw / 4);





  }

  .inBanner {

    top: 150px;

    padding-left: 2em;

    padding-right: 2em;
  width: 80%;
 

  }
  .terapeuticky-tym article p, .our-team article p {
    margin-right: 0px;
}


  .terapeuticky-tym h3,
  .our-team h3 {

    clear: both;

    margin-top: 1em;

  }



  .home table td {

    position: relative;

    padding: 0;

    width: 100%;

    display: inline-block;



    clear: both;

    padding-left: 50px;

    padding-bottom: 30px;

  }

  .home table td:nth-of-type(2) {

    display: none;

  }

  .photo {

    margin-left: 50%;

    float: none;

    transform: translateX(-90px);

  }



  .zavislosti #part2,
  .zavislosti #part3,
  .zavislosti #part4,
  .addictions #part2,
  .addictions #part3,
  .addictions #part4 {

    display: block;

    width: 100%;

    padding: 130px 0 50px 0;

    margin: 0;

    float: none;

  }



}



@media only screen and (max-width: 500px) {

   h2 {line-height: 2.2em }

  .forVideo,
  .background,
  .over {

    height: calc(100vw / 1.2);
    height: 250px;

  }
  .inBanner { padding: 0 20px; }
 

  footer,
  #content-left,
  #content-right {
    max-width: 100vw;
    width: 100vw !important;
    padding: 0 10px !important;
    max-width: calc(100vw - 20px) !important;
  }
  #content-right {
 
  }
footer {
  height: auto;
}
  video {

    width: auto;

    height: 100%;

  }



  #webtitle {



    font-size: 30.7px;



  }

  h1 {

    top: 70px;


    font-size: 35px;

    line-height: 40px;

  }

 

}