body {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #16252A;
  font-size: 16px;
  /*
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
*/
}
body:not(.home) {
  color: #1d1d1b;
}
 
img.imgleft {
  float: left;
  margin-right: 1em;
}
img.imgright {
  float: left;
  margin-right: 1em
}
h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
}
h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em
}
h2 a, h3 a {
  color: #16252A
}
 
h2 a:hover, h3 a:hover {
  text-decoration: none
}
 
#content a:hover, #content-left a:hover, #content-right a:hover {
  text-decoration: none;
}
 
 
p {
    margin: 0;
    padding: 0;
}
section a{
  text-decoration: underline;
  color: #0271c1;
  color: black;
}
section a:hover {
  text-decoration: none;
  color: #0271c1;
}